#if !defined(CONFIG_CPU_VARIANT_FULL) && !defined(CONFIG_CPU_VARIANT_FULLD) && \
    !defined(CONFIG_CPU_VARIANT_FULLQ) && !defined(CONFIG_CPU_VARIANT_FULLO)
#error Unsupported Rocket variant
#endif

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <TIMEBASE_FREQUENCY>;

		cpu0: cpu@0 {
			compatible = "sifive,rocket0", "riscv";
			d-cache-block-size = <64>;
			d-cache-sets = <64>;
			d-cache-size = <16384>;
			d-tlb-sets = <1>;
			d-tlb-size = <32>;
			device_type = "cpu";
			hardware-exec-breakpoint-count = <1>;
			i-cache-block-size = <64>;
			i-cache-sets = <64>;
			i-cache-size = <16384>;
			i-tlb-sets = <1>;
			i-tlb-size = <32>;
#ifdef CONFIG_L2_SIZE
			next-level-cache = <&l2cache>;
#endif
			mmu-type = "riscv,sv39";
			reg = <0x0>;
#if defined(CONFIG_CPU_VARIANT_FULL) || defined(CONFIG_CPU_VARIANT_FULLD) || \
    defined(CONFIG_CPU_VARIANT_FULLQ) || defined(CONFIG_CPU_VARIANT_FULLO)
			riscv,isa = "rv64imafdch_zicsr_zifencei";
#endif
			riscv,pmpgranularity = <4>;
			riscv,pmpregions = <8>;
			tlb-split;
			clock-frequency = <CONFIG_CLOCK_FREQUENCY>;

			cpu0_intc: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};
	};

	soc {
		interrupt-parent = <&plic>;

		clint: clint@2000000 {
			compatible = "sifive,clint0";
			interrupts-extended = <&cpu0_intc 3 &cpu0_intc 7>;
			reg = <0x2000000 0x10000>;
		};

		plic: interrupt-controller@c000000 {
			#interrupt-cells = <1>;
			compatible = "sifive,plic-1.0.0";
			interrupt-controller;
			interrupts-extended = <&cpu0_intc 11 &cpu0_intc 9>;
			reg = <0xc000000 0x4000000>;
			riscv,max-priority = <7>;
			riscv,ndev = <8>;
		};
	};
};
